@import "./normalize.css";

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}


// Define breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;

// Define media queries
@media only screen and (max-width: $mobile) {
  // Styles for mobile screens
}

@media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
  // Styles for tablet screens
}

@media only screen and (min-width: $desktop) and (max-width: $large - 1) {
  // Styles for desktop screens
}

@media only screen and (min-width: $large) {
  // Styles for large screens
}

* {
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html
{
  border: 1px solid red;

}

////////////////

.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

///////////////

//  start navbar
.navbar {
  .logo {
    max-width: 80px;
  }
  .icon i {
    display: none;
    font-size: 20px;
  }
  .icon ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .icon ul li {
    padding: 10px;
    list-style: none;
    transition: all 0.5s ease-in-out;
  }
  .icon ul li:hover {
    background: var(--secondary-color);
    a {
      color: var(--section-background);
      transition: all 0.4s ease-in-out;
    }
  }
  .icon ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
  }
  .icon ul li a:hover {
    color: var(--section-background);
  }
}
@media only screen and (max-width: $mobile) {
  // Styles for medium screens

  .navbar {
    padding: 20px;
    .icon {
      position: relative;
    }
    .icon ul {
      display: block;
      position: absolute;
      min-width: 200px;
      right: 0;
      top: 30px;
      background: #f6f6f6;
      display: none;
      z-index: 1;
    }
    .icon ul ::before {
      content: "";
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #f6f6f6 transparent;
      position: absolute;
      right: 0px;
      top: -20px;
    }
    .icon i {
      display: block;
      cursor: pointer;
    }
    .icon ul li {
      text-align: center;
    }
    .icon:hover ul {
      display: block;
    }
  }
}

//  end navbar

// start Landing

.Landing {
  height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
  // background-image: url('../public/imgaes/imgaes/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  div {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    h1,
    p {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 50px;
      color: var(--main-color);
    }
    p {
      font-size: 19px !important;
      line-height: 1.8;
    }
  }
}

// end Landing

// start features
.features {
  .container {
    margin: auto;
  }
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  .feat {
    padding: 20px;
    text-align: center;
    i {
      color: var(--main-color);
    }
    h3 {
      font-weight: 800;
      margin: 30px 0;
    }
    p {
      line-height: 1.8;
      color: #777;
      font-size: 17px;
    }
  }
}
// end features

// start Services

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .services-content .image {
    text-align: center;
    position: relative;
  }
  .services-content .srv {
    display: flex;
    gap: 25px;
  }

  .services-content .srv {
    i,
    h3 {
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }

    i {
      color: var(--main-color);
      font-size: 1.5em;
      font-weight: bold;
    }
    p {
      color: #444;
      font-weight: 300;
      line-height: 1.6;
    }
  }
  .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .services-content .image img {
    width: 260px;
  }
}

@media only screen and (max-width: $desktop - 1) {
  // Styles for tablet screens
  .services-content div .image {
    display: none;
  }
}
// end Services

// start portfolio

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  .portfolio-content {
    grid-gap: 30px;
    margin-top: 80px;
    align-items: center;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;

    .card {
      background-color: white;
      padding: 0;

      img {
        max-width: 100%;
        border-style: none;
      }
      .info {
        padding: 20px;
        h3 {
          // margin: 0;
          font-weight: bold;
          font-size: 1.17em;
        }

        p {
          color: #777;
          line-height: 1.5;
          margin-bottom: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: $desktop - 1) {
  .portfolio {
    .portfolio-content {
      display: flex;
      flex-direction: column;
      justify-items: center;
    }
  }
}

@media only screen and (min-width: $desktop - 1) {
  .portfolio {
    .portfolio-content {
      display: flex;
      flex-direction: row;
      justify-items: center;
    }
  }
}

// end portfolio

//About

.about {
  padding-top: var(--section-padding);
  padding-bottom: cvar(--section-padding);
  .container .about-content {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .about-content .image img {
    max-width: 100%;
  }
}
