.NavBar
{
    position: fixed;
    width: 100%;
}
.NavBar a:not(:last-child)
{
    font-size: 15px;
    line-height: 1.6;
    color: #a82d49;
    font-weight: 600;
}
.NavBar a:last-child
{
    background-color: #a82d49;
    border: 3px solid #a82d49;
    color:white;
    transition: all 0.5s;
    font-size: 13px;
    /* line-height: 1.6; */
    font-weight: 600;
    letter-spacing: 3px;
    
}
.NavBar a:last-child:hover
{
    background-color: transparent;
    color: #a82d49 ;

}

.NavBar button
{

    border: none !important;
    outline: none;
}