*
{

     box-sizing: border-box;
}
header
{
    background: url('../imgs/3.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align: left;
    height: 400px;
}