

.paralex
{
    background: url("../../Data/imgs/paralex.jpg") center no-repeat fixed;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align: left;
    display: flex;
    height: 450px;
}
.paralex .container 
{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

}
.paralex .container .row h1
{
    color: #a82d49;
}
@media(min-width:991px)
{
    .paralex .container .row h1
    {
        padding: 0 130px;
        font-family: "Quicksand", sans-serif;

    }
}
@media(max-width:767px)
{
    .paralex .container .row p
    {
        padding: 0 50px;
        font-family: "Quicksand", sans-serif;
        
    }
}
@media(min-width:767px)
{
    .paralex .container .row p
    {
        padding: 0 160px;
        font-family: "Quicksand", sans-serif;
        /* color: red; */

    }
}