@use "./normalize.css";

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

// Define breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;

// Mobile devices (up to 767px)
@media only screen and (max-width: 767px) {
  // CSS rules for mobile devices
}

// Tablets (768px to 991px)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  // CSS rules for tablets
}

// Desktop devices (992px to 1199px)
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  // CSS rules for desktop devices
}

// Large desktop devices (1200px and above)
@media only screen and (min-width: 1200px) {
  // CSS rules for large desktop devices
}

* {
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

////////////////
