/* 
@media(max-width:767px)
{
    .NavBar .container
    {
     max-height: 80px;

    }

}

.NavBar .navbar-brand
{
    position: absolute;
    background-color: blue;
}


 .container a img
{
    max-height: 100%;

}  */

