* {
  box-sizing: border-box;
}
header {
  background: url("../imgs/3.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  text-align: left;
  height: calc(100vh - 117px);
  display: flex;
  /* align-content: center; */
}

header .container 
{
  display: flex;
  align-items: center;
  
}
header .container > div h1

{

  line-height: 1.5;
  font-weight: bold;
  font-size: 30px;
  
}

header .container > div p
{
  color: #555555;
}
header .container > div button
{
  border: none;
  margin: 25px ;
}
header .container > div h1
{
  padding-bottom: 30px;
}
header .container > div button
{
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
}
@media(max-width:767px)
{
  header .container > div h1
  {
    width: 80%;

  }
  header .container > div button
  {
    display: block;
    width: 50%;
    height: 50px;
    border: none;
    margin: 25px 0;
    
  }
}

header .container  button:nth-child(3)
{
  background: #a82d49;
  border: 3px solid #a82d49;
  color: #fff;
}
header .container  button:nth-child(4)

{
  color: #000;
  background-color: #ffffff;
  border: 3px solid #fff;
}