
*
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.ingredients
{

    text-align: left;
    height: auto;
}
.ingredients img{

    background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align:right;
    height: auto;


}
.ingredients .container
{
    padding-top: 80px;
    padding-bottom: 80px;
    /* text-align: center; */
}