*
{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
.numbers 
{
    background-color: #a82d49;
}
.numbers .container
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;


}
.numbers .container p
{
    color: aliceblue;
    font-weight: bold;
    font-size: 40px;
}

.numbers .container span
{
    color: aliceblue;
    text-transform: capitalize;
}
@media (max-width:767px)
{
    .numbers .container div:not(:last-child)
{
    padding:  0 0 40px;
}
}