.Testimonials
{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #a82d49;

}
.Testimonials .container 
{
    text-align: center;
}

.Testimonials .container .slider
{
    height: auto
}